@charset "utf-8";

/* 使用重置样式表 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, 
var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;    
}
body{
    line-height:1;
    margin:0;
    padding:0;
}
ol,ul,li{
    list-style:none;
    padding:0px;
    margin:0px;
}
blockquote, q{
    quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content:none;
}
/* remeber to define focus styles! */
:focus{
    outline:0;
}
/* remeber to highlight inserts somehow */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

/* tables still need 'cellspacing="0" in the markup' */
table{
    border-collapse:collapse;
    border-spacing:0;
}

/*****旋转木马重置样式******/
.poster-main{position:relative;width:800px;height:270px;;}
.poster-main .poster-list{width:800px;height:270px;}
.poster-main .poster-list .poster-item{position: absolute;left: 0;}
.poster-item img , .poster-item a {display: block;}
.poster-main .poster-btn{width:100px;position: absolute;top:0;height:270px;z-index: 10;cursor: pointer;opacity: 0.8;}
.poster-main .poster-prev-btn{left:0;background: url(btn_l.png) no-repeat center center;}
.poster-main .poster-next-btn{right:0;background: url(btn_r.png) no-repeat center center;}